* {
	box-sizing: border-box;
}
.header {
	background-color: #2fc8b8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 42px;
	color: #ffffff;
	font-family: "Bebas Neue", cursive;
}

.contact > button {
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	border-radius: 6px;
	background-color: #1e776e;
	border: none;
	width: 130px;
	height: 35px;
	font-weight: 500;
	letter-spacing: 1px;
}
.updates {
	font-size: 68px;
	font-family: "Bebas Neue", cursive;
	color: #ffffff;
}

.labelText {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	margin-bottom: 24px;
}

.search {
	max-width: 600px;
	display: flex;
	background-color: #e6f5f3;
	height: 45px;
	border-radius: 6px;
	padding: 3px;
}

.searchCombo {
	width: 250px;
}

.searchCombo > input {
	outline: none;
}

.calendarBox {
	width: 250px;
	display: flex;
	align-items: center;
	padding: 8px;
	background-color: #ffffff;
	margin: 0 3px;
	font-weight: "700";
}
.submitButton {
	height: 100%;
	width: 100px;
	cursor: pointer;
}

.submitButton > button {
	height: 100%;
	width: 100%;
	background-color: #1e776e;
	border: none;
	border-radius: 0 6px 6px 0;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.cumulative {
	margin-top: 16px;
	width: 70%;
	background-color: #1e776e;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px 6px 0 0;
}

.bigNumber {
	font-family: "Roboto", sans-serif;
	font-size: 96px;
	color: #2fc8b8;
	font-weight: 300;
}
.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
	height: 130px;
	box-shadow: 0px 3px 16px #0000001f;
	border-radius: 0 0 8px 8px;
	margin-bottom: 80px;
}

.infoCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.infoNumber {
	font-size: 32px;
	color: #2fc8b8;
}

.infoText {
	font-weight: 600;
}

.infoOverall {
	color: #888888;
}

.continental {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.continentalTitle {
	font-family: "Bebas Neue", cursive;
	font-size: 48px;
}

.cardsViewport {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	position: relative;
}

.arrow {
	color: #000;
	position: absolute;
	height: 70px;
	width: 70px;
	background-color: #1e776e;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
}

.rightArrow {
	right: 0;
}
.leftArrow {
	left: 0;
}

.card {
	display: flex;
	min-width: 400px;
	height: 250px;
	box-shadow: 0px 3px 16px #0000001f;
	border-radius: 8px;
	margin: 0 40px;
}

.left {
	width: 50%;
	border-radius: 8px 0 0 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name {
	font-family: "Bebas Neue", cursive;
	font-size: 32px;
	max-width: 80%;
	text-align: center;
}

.newCases {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Roboto", sans-serif;
}

.newCasesNumber {
	color: #2fc8b8;
	font-size: 48px;
}

.newCasesText {
	font-weight: 700;
}

.allCases {
	color: #888888;
	font-family: "Roboto", sans-serif;
}

.right {
	width: 50%;
	background-color: #2fc8b8;
	border-radius: 0 8px 8px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.details {
	height: 33.333%;
	width: 100%;
	border-bottom: 1px solid #888888;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

.detailsNumber {
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
}

.detailsText {
	font-size: 12px;
	font-weight: 700;
	margin: 2px 0;
}

.detailsOverall {
	color: #ffffff;
	font-size: 14px;
	margin: 6px 0;
	font-weight: 300;
}

.profile {
	margin-top: 100px;
	width: 100%;
	height: 620px;
	background-color: #eef6f6;
	display: flex;
}

.image {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eef6f6;
}

.image > img {
	width: 400px;
	height: 400px;
	object-fit: fill;
	border-radius: 50%;
}

.personalInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(219, 253, 251, 0.6);
}

.personalName {
	font-family: "Bebas Neue", cursive;
	font-size: 72px;
	font-weight: 700;
}

.personalTitle {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.date {
	color: #888888;
	font-size: 16px;
	font-weight: 300;
}

.reachMe {
	width: 100%;
	height: 400px;
	background-color: #1e776e;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.reachMeTitle {
	font-size: 48px;
	font-family: "Bebas Neue", cursive;
}

.contactDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 12px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.detailsLabel {
	font-size: 18px;
	font-weight: 500;
}

.footer {
	height: 80px;
	width: 100%;
	background-color: #175b55;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: "Roboto", sans-serif;
}

.developer {
	margin-left: 100px;
}

.designer {
	margin-right: 100px;
}

.country {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
}

.country > img {
	width: auto;
	height: 18px;
	margin-right: 8px;
}
